/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  color: red;
  font-family: 'RobotoBold';
  font-weight: 700;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

:root {
  --base-spacing: 3rem;
  --bg-clr: #f5f5f5;
  --bp-medium: 51.25rem;
  --bp-small: 25.875rem;
  --clr-black: #000;
  --content-sidespacing: 9.375rem;
  --font-large: 1.5rem;
  --font-medium: 1rem;
  --font-small: 0.75rem;
  --font-xlarge: 2.5rem;
  --footer-clr: #afafaf;
  --spacing-newcontent: 7rem;

  /* FONTSIZE */
  /* SPACING */
  /* BREAKPOINTS */
  /* iPhone XR */
  /* iPad Air */
}

ul,
li,
a {
  color: var(--clr-black);
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--bg-clr);
  font-family: 'Roboto', sans-serif;
}

.navbar__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-newcontent);
  padding: 40px var(--content-sidespacing);
}

/* burger-menu */

.hamburger {
  background-color: var(--clr-black);
  border-radius: 4px;
  height: 3px;
  margin-top: 10px;
  position: relative;
  width: 25px;
}

.hamburger::before {
  background-color: var(--clr-black);
  border-radius: 4px;
  content: ' ';
  height: 3px;
  position: absolute;
  top: -8px;
  width: 25px;
}

.hamburger::after {
  background-color: var(--clr-black);
  border-radius: 4px;
  content: ' ';
  height: 3px;
  position: absolute;
  top: 8px;
  width: 25px;
}

.article__above__gallery {
  padding: 0 var(--content-sidespacing);
  padding-bottom: var(--spacing-newcontent);

  > h1 {
    font-size: var(--font-xlarge);
    line-height: 2.5rem;
    max-width: 70%;
    padding-bottom: var(--base-spacing);
  }

  > p {
    font-size: var(--font-medium);
    max-width: 70%;
  }
}

.section__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 var(--content-sidespacing);
}

.image__container {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.image__text {
  color: #fff;
  display: none;
  font-size: var(--font-large);
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.section__gallery img {
  object-fit: contain;
  object-position: center;
  text-align: center;

  &:hover {
    filter: grayscale(100%);
  }
}

.image__container:hover .image__text {
  display: block;
}

footer {
  background-color: var(--footer-clr);
}

.footer__infos {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--base-spacing);
  padding-left: var(--content-sidespacing);
  padding-right: 400px;
  padding-top: var(--spacing-newcontent);
}

.form__container {
  margin: 0 auto;
  max-width: 35%;

  & h2 {
    font-family: 'RobotoBold';
    font-size: var(--font-xlarge);
    font-weight: 700;
    text-align: center;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;

  > label {
    margin-bottom: 5px;
  }

  > #message {
    margin-bottom: 20px;
  }
}

#email,
#name {
  border: none;
  border-radius: 5px;
  height: 5vh;
  margin-bottom: 1.25rem;
}

.btn__submit {
  border: none;
  border-radius: 5px;
  height: 5vh;
  margin-bottom: var(--spacing-newcontent);
}

/* #iPad Breakpoint */

@media screen and (max-width: 820px) {
  .navbar__top {
    max-width: 820px;
    padding: 40px 60px;
  }

  .article__above__gallery {
    margin-bottom: var(--spacing-newcontent);
    padding: 0px 60px;
  }

  h1 {
    margin-bottom: var(--base-spacing);
    max-width: 50%;
  }

  .article__above__gallery p {
    max-width: 60%;
  }

  .section__gallery {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    padding: 0px 60px;
  }

  .section__gallery img {
    width: 820px;
  }

  footer {
    margin: 0;
    max-width: 820px;
    padding: 50px 60px;
  }

  .footer__infos {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  ul {
    padding-bottom: var(--base-spacing);
  }

  .form__container {
    max-width: 820px;
  }

  #message {
    margin-bottom: 20px;
  }
}

/* #iPhone Breakpoint */

@media screen and (max-width: 414px) {
  .navbar__top {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
  }

  .article__above__gallery {
    margin-bottom: var(--spacing-newcontent);
    padding: 0px 20px;
  }

  .section__gallery {
    display: flex;
    flex-direction: column;
    max-width: 414px;
    padding: 0px 10px;
  }

  .image__text {
    color: #000;
    display: block;
    font-size: 1rem;
    position: relative;
    text-align: left;
    margin-top: 15px;
  }

  footer {
    margin: 0;
    max-width: 414px;
    padding: 50px 0.625rem;
  }

  .footer__infos {
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: 50px;
  }

  ul {
    padding-bottom: 1.25rem;
  }

  .form__container {
    min-width: 100%;
  }

  h2 {
    margin-top: 50px;
    text-align: center;
  }

  #message {
    margin-bottom: 20px;
  }
}
